.anchorPanelMain {
    -fx-background-image: url("/ru/artsok/resources/images/view/main.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;

    -fx-pref-width: 10%;
    -fx-pref-height: 10%;


}


.boxResponse {
    -fx-background-image: url('/ru/artsok/resources/images/noResponse.gif');
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}




.label_leak {
}